body {
    background-color: #fff !important;
}
a {
    cursor: pointer;
}
label {
    cursor: pointer;
}
.section-cart {
    margin-top: 80px;
}
.section-cart .row-1 a {
    text-decoration: none;
    color: #000;
}
.section-cart .row-1 a:hover {
    color: var(--mycolor);    
}
.section-cart .row-1 {
    font-weight: bold;
    font-size: 0.8rem;   
    text-transform: uppercase;
    letter-spacing: 0px; 
}
.section-cart .container {
    min-height: 400px;
}
.listProduct {            
    text-transform: uppercase;    
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 5px 7px 0 rgba(50,50,50,0.33);
}
.listProduct>.product>div>div:nth-child(2) {
    margin-top: 1rem;
    color: #000;    
    text-transform: none;
}
.listProduct>.product>div>div:first-child {
    background-color: var(--mycolor);    
}
.listProduct>.product {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}
.listProduct>.product>div {
    padding: 0;
}
.listProduct>.product>div>.img {
    width: 80px;
    height: 80px;
    margin: auto;
}
.listProduct>.product>div>.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listProduct>.product>div>.delete {
    cursor: pointer;
}
.row-4 a,
.row-4 a,
.btn-buy {
    background-color: var(--mycolor);
    border-radius: 5px;
    color: #fff !important;
    padding: 7px 20px;
    outline: none;    
    text-decoration: none;
    border: 1px solid gray;        
}
.row-4 table {
    width: 100%;
    height: 100%;
}
.row-4 table td {
    border: 1px #ccc solid;
    padding: 8px 0px;
}
.row-4 table tr td:first-child {
    padding-left: 10px;
}
.row-4 table tr td:nth-child(2) {
    padding-right: 10px;
    text-align: right;
}
.row-5 div{
    text-align: right;
}
.section_form_buy .form {
    width: 100%;
    max-width: 650px;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;    
}
.section_form_buy .form h6, 
.section_form_buy .form div,
.section_form_buy .form textarea,
.section_form_buy .form input,
.section_form_buy .form select {
    margin: 10px;
    border-radius: 5px;
}
.section_form_buy input[type=radio],
.section_form_buy input[type=checkbox] {
    cursor: pointer;
}
.section_form_buy .form h6 {
    text-transform: uppercase;
}
.section_form_buy .diachi input {
    width: 100%;
}
.section_form_buy .diachi select {
    background: transparent;    
    padding: 5px 10px;    
}
.maGiamGia button {
    background: transparent;
    border: 1px solid gray;
}
.maGiamGia div input,
.maGiamGia div button {    
    display: inline-block;
}
.maGiamGia div input {
 width: 80%;
}
.maGiamGia div button {
    height: 38px;
    border-radius: 5px;        
}
.maGiamGia div {
    display: none;
}
.NguoiKhac .NguoiKhac_content {
    display: none;
}