html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.7;
  letter-spacing: 0.25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: rgb(240, 238, 238);
  user-select: none;
}
:root {
  --mycolor: #ff3300;
  --color_star: #fb6e2e;
  --giacu: rgba(0, 0, 0, 0.5);
  --mygreen: #34a105;
  --bg-slider-watch: #203e4e;
  --mybg: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.active {
  color: var(--mycolor);
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* reset thư viện slick  */
/* .slick-slider .draggable {
  cursor: grab;
}
.slick-slider .item-product a {
  cursor: grab;
} */
/* --------- */
.main {
  margin-top: 90px;
}
.search {
  z-index: 2;
  position: relative;
  width: 350px;
}
.search i {
  position: absolute;
  right: 5px;
  color: var(--mycolor);
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
}
.search input {
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 5px 0px;
}
.my-navbar {
  box-shadow: 0 5px 7px 0 rgba(50, 50, 50, 0.33);
  padding: 0px !important;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #ff3300;
}
.nav_bar_new {
  z-index: 999;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: -60px;
  transition: 0.7s ease;
}
.nav_bar_new ul {
  width: fit-content;
  list-style: none;
  margin: auto;
  padding-left: 0px;
}
.nav_bar_new ul li {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
}
.nav_bar_new ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000;
}
.nav_bar_new_active {
  color: var(--mycolor) !important;
}
.nav_bar_new ul li a:hover {
  color: var(--mycolor);
}
.my-navbar div > a {
  margin: 0px 5%;
}
#logo {
  width: 120px;
}
.my-navbar img,
.my-navbar i {
  width: 20px;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 5px;
}
.my-navbar button {
  outline: none;
  color: #fff;
}
.navbar-ul > li {
  line-height: 15px;
  padding: 0px 20px;
  padding-top: 10px;
  text-align: center;
}
.navbar-ul {
  z-index: 999;
  width: 100%;
  padding-left: 110px;
  position: relative;
}
.navbar-ul > li > a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}
.navbar-ul > li:hover > a,
.user span:hover {
  color: #fff;
  transition: 0.5s ease;
}
li.user {
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
li.user span {
  cursor: pointer;
}
/* nav Sub điện thoại */
ul.nav-sub {
  background-color: #fff;
  width: 250px;
  margin-top: 0px;
  opacity: 1;
  padding: 0px !important;
  display: none;
  border: 1px solid rgb(214, 214, 214);
}
.nav-sub > li {
  list-style: none;
  cursor: pointer;
}
ul.nav-sub > li > a {
  text-decoration: none;
  color: #000;
  display: block;
  line-height: 50px;
  text-align: left;
  padding-left: 40px;
  transition: all 0.2s linear;
}
ul.nav-sub > li > a:hover {
  color: var(--mycolor);
  padding-left: 50px;
}
.mobile:hover .nav-sub,
.tablet:hover .nav-sub,
.Laptop:hover .nav-sub,
.phuKien:hover .nav-sub,
.watch:hover .nav-sub {
  display: block;
  animation: navSub 0.4s ease;
}
@keyframes navSub {
  0% {
    margin-top: 14px;
    opacity: 0;
  }
}
.bannerSub-item {
  height: fit-content;
}
.bannerSub img {
  width: 100%;
  cursor: pointer;
}
/* ---------------------------------------------carousel slider banner */
.banner-container {
  width: 100%;
  /* height: 415px; */
}
.draggable {
  cursor: pointer;
}
.slider-banner div {
  background: #fff;
  width: 100%;
}
.slider-banner div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-banner .slick-arrow {
  z-index: 1;
  width: auto;
}

.slider-banner .slick-arrow::before {
  font-size: 2rem;
}

.slider-banner .slick-next {
  right: 10px;
}

.slider-banner .slick-prev {
  left: 10px;
}
.slider-banner .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider-banner .slick-dots {
  display: flex;
  background-color: #fff;
  bottom: auto;
  padding: 5px 0px;
}
.slider-banner .slick-dots li {
  flex: 1;
  height: 43px;
}
.slider-banner .slick-dots li button::before {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.slider-banner .slick-dots li:nth-child(1) button::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "Mua Iphone X không lo rơi vỡ";
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
}
.slider-banner .slick-dots li:nth-child(2) button::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "Phụ kiện iWalk mua 1 được 2";
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
}
.slider-banner .slick-dots li:nth-child(3) button::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "Mua MI 8 | MI 8 SE Giá rẻ có trả góp";
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
}
.slider-banner .slick-dots li:nth-child(4) button::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "Redmi note 7 giảm thẳng 500k";
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
}
.slider-banner .slick-dots li:nth-child(5) button::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "Đặt trước MI 9 giá rẽ hơn 1 triệu";
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 1rem;
}
.slider-banner .slick-dots li.slick-active button:before {
  border-bottom: red 3px solid;
}
/* -----------------------------fixed bar */
div.fixed-bar {
  right: 0px;
  top: 70%;
  width: 55px;
  z-index: 111;
}
.icon-contact {
  position: fixed;
  top: 30%;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
.icon-contact.is-show {
  right: 20px;
  opacity: 1;
  visibility: visible;
}
/* .icon-contact div:nth-child(2) a {
  
} */
div.fixed-bar div {
  justify-content: center;
}
div.fixed-bar div a i {
  font-size: 40px;
}
.fixed-bar .icon-arrow-up {
  font-size: 2.5rem;
  color: var(--mycolor);
  position: fixed;
  bottom: 10px;
  right: -20px;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease;
  visibility: hidden;
}
.fixed-bar .icon-arrow-up.is-show {
  right: 5px;
  opacity: 1;
  visibility: visible;
}
/* ------------------cart */
/* div.cart {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffa58f;
  align-items: center;
}
div.cart .i_cart {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}
div.cart a:hover {
  color: #fff !important;
}
.cart::before {
  content: "";
  width: 20px;
  height: 20px;
  border: var(--mycolor) 2px solid;
  border-radius: 50%;
  opacity: 0;
  animation: cart-sub linear 1s infinite;
}
@keyframes cart-sub {
  100% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
} */
div.cart .i_cart i {
  font-size: 30px !important;
  color: var(--mycolor);
}
/* item_sản phẩm */
.item-sp div:nth-child(2) p {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(228, 228, 228);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
/* -------------------------------------------nav-bar-cart */
.nav-bar-cart {
  position: absolute;
  width: 300px;
  background-color: #fff;
  right: 5px;
  bottom: 85px;
  border-radius: 5px;
  border: 2px solid rgb(223, 221, 221);
  display: none;
}
.nav-bar-cart div {
  justify-content: center;
}
.nav-bar-cart .buy-item,
.nav-bar-cart .cart-item {
  display: flex;
  justify-content: center;
}
.nav-bar-cart .buy-item a,
.nav-bar-cart .cart-item a {
  background-color: var(--mycolor);
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav-bar-cart .price-item {
  color: red;
  font-weight: bold;
}
.nav-bar-cart .cart-item p {
  background-color: #01b1c9;
}
.cart-item::before {
  position: absolute;
  right: -3px;
  bottom: -15px;
  z-index: -111;
  background-color: #fff;
  border: 2px solid rgb(223, 221, 221);
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}
.cart-item::after {
  position: absolute;
  right: -3px;
  top: 45px;
  z-index: -111;
  content: "";
  width: 60px;
  height: 60px;
}
.cart:hover .nav-bar-cart {
  display: block;
}
/*---------------------------- slider - sale */
.title-slider-sale {
  color: var(--mycolor);
  width: fit-content;
  font-size: x-large;
  font-weight: bold;
  padding: 3px 30px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
div.slider-sale {
  margin-top: 5%;
  padding-top: 40px;
  max-height: 390px;
  overflow: hidden;
  border: 1px var(--mycolor) solid;
  position: relative;
  background-color: #fff;
}
.slider-sale .slick-slider {
  margin: 10px;
}
.slider-sale .slick-arrow {
  top: -20px;
  right: 0;
  left: auto;
  width: auto;
}
.slider-sale .slick-prev {
  right: 40px;
}
.slider-sale .slick-arrow::before {
  font-size: 2rem;
  color: var(--mycolor);
}
.section-5 .item-product {
  max-height: 250px;
}
.section-5 .item-product .item-product-sale-percent {
  bottom: 45%;
}
div.item-product {
  position: relative;
  width: 100%;
  max-width: 230px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
div.item-product .item-product-if p:first-child {
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
div.item-product:hover img {
  transform: scale(1.05);
}
div.item-product:hover .item-product-if > p:first-child {
  color: var(--mycolor);
}
/* ------------sale percent */
.item-product-sale-percent {
  background-image: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
  border-radius: 10px;
  padding: 1px 7px;
  padding-left: 0;
  padding-right: 10px;
  height: 20px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 5%;
  z-index: 1;
  bottom: 35%;
  font-size: 11px;
}
.item-product-sale-percent img {
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
  float: left;
}
.item-product a {
  text-decoration: none;
  color: #000;
}
.item-product a > img {
  width: 100%;
  max-height: 70%;
  padding: 10px;
  margin-top: 5px;
  transition: 0.3s ease;
}
.next,
.prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: 0.3s ease;
}
.next i,
.prev i {
  font-size: xx-large;
  color: var(--mycolor);
}
.next {
  right: -40px;
}
.prev {
  left: -40px;
}
.item-product-if {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 107px;
}
.item-product-if p:nth-child(2) span:first-child {
  color: var(--mycolor);
  font-weight: bold;
  margin-right: 5px;
  font-size: 1rem;  
}
.item-product-if p:nth-child(2) span:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
/* -----------------section 3 điện thoại*/
.section-3__content,
.section-4__content,
.section-5__content {
  padding: 25px;
  background-color: #fff;
}
.section-6__content {
  padding: 15px;
}
.title-name {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: large;
}
/* --------------------Footer */
.footer {
  font-size: 0.9rem;
}
.footer .list-menu {
  list-style: none;
  margin-left: -40px;
}
.footer .list-menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.bottom-footer .list-menu li {
  display: inline;
}
.footer {
  background-color: #fff;
  margin-top: 1rem;
  padding-top: 1rem;
}
/* slider đồng hồ */
.content-watch {
  background-color: var(--bg-slider-watch);
}
.content-slider-watch {
  position: relative;
}
.slider-watch {
  width: 895px;
  height: 368px;
  background-color: #fff;
  margin-left: 55px;
  border-radius: 5px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
}
.menu-watch {
  margin-left: 55px;
  padding: 10px 0px;
}
.menu-watch button {
  margin-right: 8px;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-watch-active {
  background-color: grey;
}
.slider-watch .item-product {
  width: 200px;
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}
.slider-watch-2,
.slider-watch-3,
.slider-watch-4 {
  display: none;
}
/* -----------------------reponsive */
@media (max-width: 1025px) {
  .navbar-ul li.user {
    display: block;
  }
  .navbar-ul {
    display: none;
  }
}
@media (max-width: 990px) {
  * {
    font-size: 0.9rem;
  }
  .carousel-indicators li p {
    font-size: 0.8rem !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    background: transparent !important;
  }
  .main {
    margin-top: 70px;
  }
  .bannerSub {
    margin-top: 60px;
  }
  .bannerSub .bannerSub-item {
    height: fit-content;    
  }
  .item-product-sale-percent {
    bottom: 50% !important;
  }
  .slider-sale .item-product-sale-percent {
    bottom: 35%;
  }
  .navbar-collapse {
    padding-bottom: 20px;
  }
  .search {
    margin: auto;
  }
  .navbar-ul {
    display: block;
    padding-left: 0px;
  }
  .navbar-ul .nav-item:nth-child(4) {
    display: none;
  }
  .navbar-ul .nav-item a {
    display: flex;
  }
  .navbar-ul li {
    text-align: left !important;
  }
  .navbar-ul li ul {
    display: none !important;
  }
  .section-6 {
    display: none;
  }
  .nav_bar_new ul li:last-child {
    display: none;
  }
  .fixed-bar i {
    font-size: 25px !important;
  }
  .cart {
    width: 50px !important;
    height: 50px !important;
  }
}
