body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.7;
  letter-spacing: 0.25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: rgb(240, 238, 238);
  user-select: none;
}
header {
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 30px 0px;
  background-color: #fff;
}
#logo {
  width: 120px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header-col1 {
  background-color: #ff3300;
}
.search {
  z-index: 2;
}
.search::before {
  position: absolute;
  right: -22px;
  bottom: 10px;
  z-index: -111;
  background-color: #fff;
  content: "";
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
}
.search i {
  position: absolute;
  right: 25px;
  color: #ff3300;
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
}
.search input {
  padding: 6px 80px 6px 5px;
  border-radius: 7px;
  border: 1px solid rgb(197, 196, 196);
  outline: none;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 5px 0px;
}
.header-col2 {
  height: 65px;
  z-index: 100;
}
.header-col2 img,
.header-col2 i {
  width: 20px;
  height: 20px;
  font-size: 21px;
}
.header-col2 > ul {
  width: fit-content;
  height: 70px;
}
.header-col2 > ul > li {
  list-style: none;
  float: left;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 4px;
}
.header-col2 > ul > li > a {
  text-decoration: none;
  color: #000;
}
.header-col2 > ul > li > a:hover {
  color: #ff3300;
}
li.user a {
  color: #ff3300 !important;
}
li.user a p {
  font-weight: bold;
}
/* nav Sub điện thoại */
ul.nav-sub {
  background-color: #fff;
  width: 250px;
  margin-top: -8px;
  opacity: 1;
  padding: 0px !important;
  display: none;
  border: 1px solid rgb(214, 214, 214);
}
.nav-sub > li {
  list-style: none;
  cursor: pointer;
}
ul.nav-sub > li > a {
  text-decoration: none;
  color: #000;
  display: block;
  line-height: 50px;
  text-align: left;
  padding-left: 40px;
  transition: all 0.2s linear;
}
ul.nav-sub > li > a:hover {
  color: #ff3300;
  padding-left: 50px;
}
.mobile:hover .nav-sub,
.tablet:hover .nav-sub,
.Laptop:hover .nav-sub,
.phuKien:hover .nav-sub,
.watch:hover .nav-sub {
  display: block;
  animation: navSub 0.4s ease;
}
@keyframes navSub {
  0% {
    margin-top: 14px;
    opacity: 0;
  }
}
.bannerSub-item {
  height: 187px;
}
.bannerSub img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* ---------------------------------------------carousel slider */
ol.carousel-indicators {
  bottom: -80px !important;
  background-color: #fff;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}
.carousel-control-next,
.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 55px;
  cursor: pointer;
}
.carousel-control-next {
  right: 5px;
}
.carousel-control-prev {
  left: 5px;
}
ol.carousel-indicators li {
  width: 20%;
  height: 70px;
  color: #ff3300;
  text-indent: unset;
  opacity: 1 !important;
  background-color: transparent !important;
  text-align: center;
  border-top: none;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}
ol.carousel-indicators li p {
  margin: 0px;
  width: fit-content;
  height: 50px;
  margin: 7px;
  color: #000;
  font-size: 0.9rem;
}
li.active {
  border-bottom: 3px solid #ff3300 !important;
}
li.active p {
  color: #ff3300 !important;
}
/* -----------------------------fixed bar */
div.fixed-bar {
  right: 0px;
  top: 70%;
  width: 55px;
  z-index: 111;
}
.icon-contact{
  position: fixed;
  top: 30%;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease;
}
.icon-contact.is-show{
  right: 20px;
  opacity: 1;
  visibility: visible;
}
div.fixed-bar div {
  justify-content: center;
}
div.fixed-bar div a i {
  font-size: 40px;
}
/* ------------------cart */
div.cart {
  position: relative;
  width: 60px;  
  height: 60px;
  border-radius: 50%;
  background-color: #ffa58f;
  align-items: center;
}
div.cart a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.cart::before {
  content: "";
  width: 20px;
  height: 20px;
  border: #ff3300 2px solid;
  border-radius: 50%;
  opacity: 0;
  animation: cart-sub linear 1s infinite;
  /* will-change: width height opacity; */
}
@keyframes cart-sub {
  100% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}
div.cart a i {
  font-size: 20px !important;
  position: absolute;
}
/* -------------------------------------------nav-bar-cart */
.nav-bar-cart {
  position: absolute;
  width: 300px;
  max-height: 112px;
  background-color: #fff;
  right: 5px;
  bottom: 85px;
  border-radius: 5px;
  border: 2px solid rgb(223, 221, 221);
  display: none;
}
.nav-bar-cart .buy-item p,
.nav-bar-cart .cart-item p {
  background-color: #ff3300;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0px;
  color: #fff;
  cursor: pointer;
}
.nav-bar-cart .price-item {
  color: red;
  font-weight: bold;
}
.nav-bar-cart .cart-item p {
  background-color: #01b1c9;
}
.cart-item::before {
  position: absolute;
  right: -3px;
  bottom: -10px;
  z-index: -111;
  background-color: #fff;
  border: 2px solid rgb(223, 221, 221);
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}
.cart-item::after {
  position: absolute;
  right: -3px;
  top: 50px;
  z-index: -111;
  content: "";
  width: 60px;
  height: 60px;
}
.cart:hover .nav-bar-cart {
  display: block;
}
/*---------------------------- slider - sale */
.title-slider-sale {
  color: #ff3300;
  width: fit-content;
  font-size: x-large;
  font-weight: bold;
  padding: 3px 30px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
div.slider-sale {
  margin: 35px 0px;
  padding-top: 40px;
  height: 370px;
  overflow: hidden;
  border: 1px #ff3300 solid;
  position: relative;
  background-color: #fff;
}
.slider-sale-sub {
  padding: 20px;
  width: max-content;
  transition: all 0.5s ease;
}
div.slider-item {
  width: 230px;
  height: 200px;
  margin-top: 10px;
  cursor: pointer;
}
div.slider-item img:hover {
  transform: scale(1.05);
}
div.slider-item:hover .slider-item-if > p:first-child {
  color: #ff3300;
}
/* ------------sale percent */
.slider-item-sale-percent {
  background-image: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
  border-radius: 10px;
  padding: 1px 7px;
  padding-left: 0;
  padding-right: 10px;
  height: 20px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 2.5rem;
  z-index: 1;
  bottom: 20px;
  font-size: 11px;
}
.slider-item-sale-percent img {
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}

.slider-sale-sub:hover .next {
  right: 5px;
}
.slider-sale-sub:hover .prev {
  left: 5px;
}
div.slider-sale .slider-item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.next,
.prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  transition: 0.3s ease;
}
.next i,
.prev i {
  font-size: xx-large;
  color: #ff3300;
}
.next {
  right: -40px;
}
.prev {
  left: -40px;
}
.slider-item-if {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
}
.slider-item-if p:nth-child(2) span:first-child {
  color: #ff3300;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1rem;
}
.slider-item-if p:nth-child(2) span:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
/* -----------------------reponsive */
@media (max-width: 1100px) {
  .header-col1 {
    max-width: 90%;
    flex: 0.8;
  }
  .header-col2 {
    visibility: hidden;
    max-width: 10%;
  }
  .bannerSub {
    display: none;
  }
  .carousel-banner {
    max-width: 100%;
    flex: 1;
  }
  .slider-sale {
    margin: 100px 0px !important;
  }
}
